.user-table {
  vertical-align: middle;
  text-align: center;
}

.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin-top: 10px;
}

.user-index-label {
  margin-top: 10px;
  margin-bottom: 20px;
}

.index-file {
  margin: 2px 2px;
}

.user-index-btn {
  margin: 2px 2px;
}

.label-index {
  margin-top: 5px;
}

.btn-index {
  margin-top: 10px;
}

.index-form {
  text-align: right;
}

#table-users {
  td {
    vertical-align: middle;
  }
}

.saturday-color {
  color: blue;
}

.sunday-color {
  color: red;
}

.weekday-color {
  color: black;
}

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

.select-users {
  margin-top: 5px;
  margin-bottom: 5px;
}

.superior-notification {
  color: red;
  border: solid;
}